section {
  display: flex;
  flex-direction: column;
  gap: 50px;
  position: relative;
  width: 90vw;
  height: 100vh;
  padding: 0 30px;
}

/* Header CSS */
section header {
  display: flex;
  justify-content: space-between;
  gap: 50px;
  width: 100%;
  background: var(--primary-FFFFFF);
  padding: 17px 30px;
  border-radius: 0 0 20px 20px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--gradient-ExtraLight-LeftToRight);
    color: var(--primary-FFFFFF);
    box-shadow: 0 5px 5px var(--primary-ALPHA-000000-02);
    border: none;
    border-radius: 50px;
    height: 54px;
    cursor: pointer;
    transition: .3s;
  }

  button.filter {
    min-width: 54px;

    i {
      font-size: 22px;
    }
  }

  button.confirm-search-filter {
    gap: 10px;
    min-width: 200px;
    font: var(--font-BOLD-H4-16);
  }

  button:hover {
    transform: scale(0.95);
    box-shadow: 0 0 10px var(--primary-009AEC);
  }
}

section header .search-box {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;

  input {
    height: 54px;
    width: 100%;
    border: 2px solid var(--primary-B3B3B3);
    border-radius: 50px;
    padding: 0 20px;
    font: var(--font-REGULAR-P-12);
    color: var(--primary-000000b5);
    transition: .3s;
  }

  i {
    position: absolute;
    color: var(--primary-B3B3B3);
    font-size: 20px;
    right: 20px;
  }
}

/* Projects CSS */
.content-projects {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100%;
  background: var(--primary-FFFFFF);
  border-radius: 20px 20px 0 0;
  padding: 0 50px 0 50px;
}

.content-projects .header-projects {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 77px;
}

.content-projects .header-projects .title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  gap: 10px;

  .flag {
    position: relative;
    width: 40px;
    height: 80px;
    background: var(--primary-4A4A4A);
    box-shadow: -5px -5px 5px var(--primary-ALPHA-000000-02);
  }

  .flag::after {
    content: "";
    position: absolute;
    left: 0;
    width: 0;
    height: 0;
    bottom: 0;
    transform: rotate(180deg);
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid var(--primary-FFFFFF);
  }

  .text {
    display: flex;
    flex-direction: column;
    
    h1 {
      height: 45px;
      font: var(--font-BOLD-H1-38);
      color: var(--primary-4A4A4A);
    }
    
    p {
      font: var(--font-BOLD-P-12);
      color: var(--primary-4A4A4A);
      cursor: pointer;
      transition: .3s;
      margin-left: 2px;
      width: fit-content;
    }

    p:hover {
      margin-left: 8px;
      text-decoration: underline;
    }
  }
}

.content-projects .header-projects nav {
  height: 100%;
}

.content-projects .header-projects nav ul {
  display: flex;
  height: 100%;
  gap: 30px;
}

.content-projects .header-projects nav ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 100%;
  background: var(--primary-4A4A4A);
  box-shadow: -5px 0 5px var(--primary-ALPHA-000000-02);
  border-radius: 0 0 20px 20px;
  cursor: pointer;
  transition: .3s;

  mat-icon {
    color: var(--primary-FFFFFF);
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

.content-projects .header-projects nav ul li:hover {
  height: 90px;
}

/* Project CSS */
.content-projects .projects-scroll {
  position: absolute;
  width: calc(100% - 100px);
  height: 85%;
  bottom: 0;
  padding: 50px;
  display: flex;
  align-items: flex-start;
  gap: 25px;
  overflow-x: hidden;
  overflow-y: scroll;
  flex-wrap: wrap;
  border-radius: 20px 20px 0 0;
  background: var(--secondary-EFEFEF);
}

.content-projects .projects-scroll .project {
  display: flex;
}

.content-projects .projects-scroll .project .preview {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
  background: var(--primary-FFFFFF);
  padding: 20px;
  border-radius: 15px;
  width: 220px;
  z-index: 2;
}

.content-projects .projects-scroll .project .preview .img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background: var(--primary-009AEC);

  img {
    width: 140px;
    height: 140px;
    border-radius: 50%;
  }
}

.content-projects .projects-scroll .project .infos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: var(--primary-F3F3F3);
  margin-left: -20px;
  padding: 20px 15px 20px 35px;
  border-radius: 15px;
  border: 1px solid var(--primary-E0E0E0);
  width: 240px;

  h1 {
    font: var(--font-BOLD-H3-21);
    color: var(--primary-4A4A4A);
  }
}

.content-projects .projects-scroll .project .infos hr {
  border: none;
  border-radius: 50px;
  background: var(--primary-D9D9D9);
  height: 2px;
  margin: 10px 0 15px 0;
}

.content-projects .projects-scroll .project .infos .box-btns {
  display: flex;
  flex-direction: column;
  gap: 5px;

  button {
    width: 100%;
    height: 35px;
    border-radius: 5px;
    font: var(--font-BOLD-P-12);
    letter-spacing: 0.8px;
    cursor: pointer;
    transition: .3s;
  }

  button:hover {
    transform: scale(0.95);
  }
  
  button.more {
    border: 1px solid var(--primary-B3B3B3);
    background: transparent;
    color: var(--primary-B3B3B3);
  }
  
  button.edit {
    border: 1px solid var(--gradient-ExtraLight-LeftToRight);
    background: var(--gradient-ExtraLight-LeftToRight);
    color: var(--primary-FFFFFF);
  }
}

/* Nothing in search CSS */
.no-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 30px;

  i {
    font-size: 50px;
    color: var(--primary-000000b5);
    margin-bottom: 10px;
  }

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-000000b5);
  }
  
  p.text-help-tip {
    font: var(--font-REGULAR-P-13);
    margin-top: 10px;
  }
}

/* PopUp's CSS */
/* Add Menu */
.menu-add-project,
.menu-delete-project,
.component-box-ask {
  top: 0;
  left: 0;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: var(--primary-ALPHA-000000-02);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-add-project .content-all,
.menu-delete-project .content-all {
  position: relative;
  background: var(--primary-FFFFFF);
  width: 400px;
  border-radius: 20px;
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  h1 {
    font: var(--font-BOLD-H3-21);
    color: var(--primary-333333);
    margin-bottom: 20px;
  }
}

.menu-add-project .content-all form {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;

  label {
    font: var(--font-REGULAR-P-13);
    color: var(--primary-333333);
    margin-top: 5px;
  }

  input {
    margin-bottom: 10px;
    font: var(--font-REGULAR-P-12);
    color: var(--primary-000000b5);
    height: 50px;
    border: 1px solid var(--primary-ALPHA-01335E-04);
    border-radius: 10px;
    padding: 0 15px;
    transition: .3s;
  }

  textarea {
    width: 100%;
    margin-bottom: 10px;
    font: var(--font-REGULAR-P-12);
    color: var(--primary-000000b5);
    border: 1px solid var(--primary-ALPHA-01335E-04);
    border-radius: 10px 10px 0 10px;
    padding: 10px 15px;
    max-height: 300px;
    min-height: 80px;
    resize: vertical;
  }

  button {
    height: 50px;
    border-radius: 10px;
    border: none;
    color: var(--primary-FFFFFF);
    background: var(--primary-333333);
    margin-top: 20px;
    cursor: pointer;
    transition: .3s;
  }

  button:hover {
    background: var(--primary-00AEFF);
    color: var(--primary-333333);
    box-shadow: 0 0px 5px var(--primary-006699);
    transform: scale(1.02);
  }
}

.close {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 45px;
  height: 45px;
  border-radius: 0 20px 0 20px;
  background: var(--primary-333333);
  cursor: pointer;
  transition: .2s;

  i {
    font-size: 20px;
    color: var(--primary-FFFFFF);
  }
}

.close:hover {
  background: var(--primary-00AEFF);
  color: var(--primary-333333);
  box-shadow: 0 0px 5px var(--primary-006699);
  transform: scale(1.01);
}

/* Delete Menu */
.menu-delete-project .content-all {
  min-width: 500px;
}

.menu-delete-project .content-all ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.menu-delete-project .content-all ul li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: var(--primary-F3F3F3);
  border-radius: 8px;
  padding: 5px 15px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: .3s;
  }
  
  button:hover {
    background: var(--primary-B3B3B3);
  }

  i {
    font-size: 17px;
    color: var(--secondary-9E1010);
  }
}

.menu-delete-project .content-all ul li .project-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  img {
    width: 35px;
    height: 35px;
    border-radius: 50%;
  }

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-333333);
  }
}

/* Delete Component Window Ask CSS */
.component-box-ask .component-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 40px 20px;
  border-radius: 20px;
  background: var(--primary-FFFFFF);
  box-shadow: 0 0 20px var(--primary-ALPHA-000000-03);

  h3 {
    font: var(--font-BOLD-H3-21);
    color: var(--primary-333333);
  }

  p {
    font: var(--font-BOLD-P-13);
    color: var(--secondary-EB3030);
  }

  .component-text {
    margin: 10px 0 30px 0;
  }
}

.component-box-ask .component-box .buttons {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 30px;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    width: 150px;
  }

  button:hover {
    opacity: 0.8;
    transform: scale(0.96);
  }

  button.confirm-delete {
    background: var(--secondary-EB3030);
    color: var(--primary-FFFFFF);
  }
  
  button.confirm-rename {
    background: var(--secondary-2C8F41);
    color: var(--primary-FFFFFF);
  }

  button.cancel {
    background: var(--primary-D9D9D9);
    color: var(--primary-000000b5);
  }
}