<section class="container-services" id="Services">
  <div class="content-all">
    <div class="content-top">
      <div class="box-images">
        <img class="circle-01" src="../../../../assets/images/decorations/ball-fade-03.png">
        <img class="img-Service" src="../../../../assets/images/ServicesPage/serviços-img.png" alt="Imagem com tema de serviços de ecommerce">
        <img class="circle-02" src="../../../../assets/images/decorations/ball-fade-03.png">
      </div>

      <div class="box-text">
        <h1>Alguns dos nossos serviços</h1>
        <p>Confira alguns produtos que a UpCommerce oferece para o seu negócio</p>
      </div>

      
      <div class="decorations">
        <img class="circle-03" src="../../../../assets/images/decorations/ball-fade-01.png">
        <img class="circle-04" src="../../../../assets/images/decorations/ball-fade-03.png">
      </div>
    </div>

    <div class="content-bottom">
      <div class="card create-layouts">
        <img src="../../../../assets/images/ServicesPage/emojione_shopping-cart.png" alt="Icon cart ecommerce">
        <h2>Criação de E-commerce</h2>
        <hr>
        <p>Soluções personalizadas para sua loja virtual, com integrações e design responsivo.</p>

        <button>Começar já</button>
      </div>

      <div class="card library-layouts">
        <img src="../../../../assets/images/ServicesPage/icone paleta de cores.png" alt="Icon palette colors">
        <h2>Biblioteca de Layouts</h2>
        <hr>
        <p>Layouts modernos, rápidos e com excelente experiência de usuário.</p>

        <button>Ver</button>
      </div>

      <div class="card infos">
        <img src="../../../../assets/images/ServicesPage/streamline_flash-2-solid.png" alt="Icon thunder agility">
        <h2>Agilidade e Praticidade</h2>
        <hr>
        <p>Soluções rápidas, eficientes e descomplicadas para impulsionar seu negócio.</p>

        <button>Saiba mais</button>
      </div>
    </div>
  </div>
</section>