<section>
  <div class="content-all" class="content-all" *ngIf="visible" @fadeInOut (@fadeInOut.done)="onAnimationDone($event)">
    <div (click)="closeRegisterComponent()"  class="close">
      <mat-icon>close</mat-icon>
    </div>

    <div class="logo">
      <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="Logo UpCommerce">
      <h1>UpCommerce</h1>
    </div>

    <div class="Inputs">
      <form #form="ngForm" (ngSubmit)="sendForm(form)">
        <label for="Name">Nome</label>
        <input type="text" name="Name" id="Name" placeholder="Nome" required [(ngModel)]="name">

        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" placeholder="Email" required [(ngModel)]="email">
        
        <label for="Password">Senha</label>
        <input type="password" name="Password" id="Password" placeholder="Senha" required [(ngModel)]="password">
        
        <label for="Role">Cargo</label>
        <select name="Role" id="Role" required [(ngModel)]="role">
          <option value="" disabled selected>Selecione um cargo</option>
          <option value="Entrepreneur">Empreendedor</option>
          <option value="Designer">Designer</option>
        </select>

        <button type="submit">Cadastrar</button>
      </form>

      <p id="textInfoErro" [class.invalid]="erroInForm">Preencha os campos para se registrar.</p>
    </div>

    <div class="footer">
      <p>Já possui conta? 
        <a (click)="goToLogin.emit()">Faça login</a>
      </p>
    </div>
  </div>  
</section>