<section class="container-footer">
  <div class="container-all">
    <div class="infos">
      <div class="box-upcommerce">
        <ul>
          <li class="title">UpCommerce</li>
          <li>Quem somos</li>
          <li>Contatos</li>
          <li>Afiliados</li>
          <li>Depoimentos dos Clientes</li>
        </ul>
      </div>
      
      <div class="box-products-services">
        <ul>
          <li class="title">Produto e serviços</li>
          <li>E-commerce</li>
          <li>Bibliteca de Layouts</li>
          <li>Criação de Layouts</li>
          <li>Designers</li>
          <li>Hospedagem</li>
          <li>Domínios</li>
          <li>Planos</li>
          <li>IA</li>
        </ul>
      </div>
      
      <div class="box-suport">
        <ul>
          <li class="title">Suporte</li>
          <li>Guia online</li>
          <li>Contactar suporte</li>
          <li>Chat Bot</li>
          <li>Perguntas Frequêntes</li>
          <li>Reclame-aqui</li>
        </ul>
      </div>
      
      <div class="box-social">
        <ul>
          <li class="title">Siga-nos</li>
          <li>Instagram</li>
          <li>Twitter</li>
          <li>LinkedIn</li>
          <li>Youtube</li>
          <li>Facebook</li>
        </ul>
      </div>
      
      <div class="box-language">
        <ul>
          <li class="title">Idiomas</li>
          <li>English</li>
          <li>Português (BR)</li>
          <li>Mais Idiomas</li>
        </ul>
      </div>
    </div>

    <hr>

    <div class="copyright">
      <p>© Copyright 2025 UpCommerce. All rights reserved • Terms and Conditions • Privacy Policy • Cookies</p>
    </div>
  </div>
</section>