/* Header CSS */
header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 35px 35px;
    width: 100%;
    border-radius: 0 0 20px 20px;
    box-shadow: 0 1px 15px -3px var(--primary-000000);
    background: var(--primary-E9E9E9);
    z-index: 10;
  }
  
  header .logo-section a {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  header .logo-section a img{
    width: 80px;
    height: 80px;
  }
  
  header .logo-section a h1{
    font: var(--font-BOLD-H2-28);
    background: var(--gradient-Light-LeftToRight);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  header nav {
    display: flex;
    gap: 100px;
  }
  
  header nav ul.nav-header-box {
    display: flex;
    gap: 40px;
  }
  
  header nav ul.nav-header-box li a {
    position: relative;
    display: inline-block;
    color: var(--primary-002442);
    font: var(--font-BOLD-H4-16);
    transition: .2s;
  }
  
  header nav ul.nav-header-box {
    align-items: center;
  }
  
  header nav ul.nav-header-box li a:hover {
    color: var(--primary-0A8FCC);
  }
  
  header nav ul.nav-header-box li a::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 0;
    width: 0;
    height: 3px;
    background-color: var(--primary-0A8FCC);
    transition: width 0.5s ease-out, left 0.5s ease-out;
  }
  
  header nav ul.nav-header-box li a:hover::after {
    width: 100%;
    right: 0;
  }
  
  header nav div.search-box {
    display: flex;
    align-items: center;
  }
  
  header nav div.search-box input {
    width: 250px;
    height: 40px;
    border-radius: 25px;
    font: var(--font-REGULAR-H4-16);
    border: 1px solid var(--primary-ALPHA-002442-04);
    background-color: var(--primary-E9E9E9);
    padding: 0 45px;
  }
  
  header nav div.search-box .search-icon {
    margin-left: -40px;
    color: var(--primary-ALPHA-002442-04);
  }
  
  header .login-register-section a {
    display: flex;
    align-items: center;
    gap: 10px;
    background: var(--gradient-Light-LeftToRight);
    color: var(--primary-FFFFFF);
    padding: 13px 40px;
    border-radius: 10px;
    transition: border-radius .3s ease-in-out;
  }
  
  header .login-register-section a:hover {
    border-radius: 35px;
  }
  
  header .login-register-section a .search-user {
    width: 32px;
    height: 32px;
    font-size: 32px;
  }
  
  header .login-register-section a p {
    font: var(--font-BOLD-H3-21);
  }