<section class="container-plans" id="Plans">
  <div class="plans-container">
    <div class="text">
      <h2 class="title">Pacotes e Preços de Hospedagem para E-commerce</h2>
      <p class="subtitle">
        Perfeito para quem deseja montar sua loja virtual com estrutura e limites adequados ao seu volume de vendas e catálogo de produtos. Escolha o plano ideal para o seu negócio.
      </p>
    </div>

    <div class="plans-grid">
      <!-- Plano Básico -->
      <div class="plan basic highlight">
        <h3>Básico</h3>
        <p class="price">R$ 299,99</p>
        <ul>
          <li>Até 100 produtos</li>
          <li>Até R$20.000 em vendas mensais</li>
          <li>Integração com meios de pagamento</li>
          <li>Relatórios simples</li>
          <li>Layouts personalizáveis básicos</li>
          <li>Domínio personalizado</li>
        </ul>
        <button (click)="togglePlan('basic')">Começar agora</button>
      </div>

      <!-- Plano Pro -->
      <div class="plan pro">
        <h3>Pro</h3>
        <p class="price">R$ 499,99</p>
        <ul>
          <li class="span"><span>Plano Básico +</span></li>
          <li>Até 1.000 produtos</li>
          <li>Até R$100.000 em vendas mensais</li>
          <li>Integração com meios de pagamento</li>
          <li>Relatórios completos</li>
          <li>Layouts personalizáveis médios</li>
          <li>Códigos promocionais</li>
        </ul>
        <button (click)="togglePlan('pro')">Começar agora</button>
      </div>

      <!-- Plano Avançado -->
      <div class="plan advanced">
        <h3>Avançado</h3>
        <p class="price">R$ 799,99</p>
        <ul>
          <li class="span"><span>Plano Pro +</span></li>
          <li>Produtos ilimitados</li>
          <li>Até R$500.000 em vendas mensais</li>
          <li>Suporte dedicado</li>
          <li>Relatórios avançados</li>
          <li>Layouts personalizáveis avançados</li>
          <li>Área de membros e clube de assinaturas</li>
        </ul>
        <button (click)="togglePlan('advanced')">Começar agora</button>
      </div>
    </div>

    <div class="footer-contact">
      <img src="../../../../assets/images/PlansPage/Suporticon.png" alt="Imagem Icone de Suporte">
      <p>
        Não se encaixa em nenhum dos planos? Entre em contato conosco e montamos
        uma solução <br> personalizada para o seu negócio.
      </p>
      <button class="support-button" (click)="togglePlan('suport')">Contatar suporte</button>
    </div>
  </div>
</section>

<!-- Payment Plans PopUp -->
<app-plan-payment *ngIf="basicPlanVisible" (closePlan)="togglePlan('basic')" [title]="'BÁSICO'" [price]="299.99" [numOrder]="'AB229087'"></app-plan-payment>
<app-plan-payment *ngIf="proPlanVisible" (closePlan)="togglePlan('pro')" [title]="'PRO'" [price]="499.99" [numOrder]="'YT259600'"></app-plan-payment>
<app-plan-payment *ngIf="advancedPlanVisible" (closePlan)="togglePlan('advanced')" [title]="'AVANÇADO'" [price]="799.99" [numOrder]="'SD2A9767'"></app-plan-payment>

<!-- Form Helper Plan PopUp -->
<app-plan-suport *ngIf="suportFormVisible" (closePlan)="togglePlan('suport')" [username]="'Username'" [email]="'example@gmail.com'"></app-plan-suport>