<header [class.active]="isMenuOpen">
  <div class="logo-section">
    <a href="#Home">
      <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="Imagem logo circular da DigitalizaJá.">
      <h1>UpCommerce</h1>
    </a>
  </div>

  <nav [class.active]="isMenuOpen">
    <ul class="nav-header-box">
      <li>
        <a href="#About">Sobre nós</a>
      </li>
      <li>
        <a href="#Services">Serviços</a>
      </li>
      <li>
        <a href="#Contacts">Contatos</a>
      </li>
      <li>
        <a href="#Plans">Assinaturas</a>
      </li>
    </ul>

    <div class="search-box">
      <input class="search-input" placeholder="Pesquisar..." type="text">
      <mat-icon class="search-icon">search</mat-icon>
    </div>
    
    <div class="login-register-section" *ngIf="!token">
      <a (click)="openLogin()">
        <mat-icon class="search-user">account_circle</mat-icon>
        <p>Login</p>
      </a>
    </div>
    
    <div class="profile-section" *ngIf="token">
      <a (click)="openMenu()">
        <p>{{username}}</p>
      </a>

      <ul [class.isOpenMenu]="isMenuLoginOpen">
        <li routerLink="profile">
          <i class="fa-solid fa-user"></i>
          Perfil
        </li>
        <li routerLink="workshop">
          <i class="fa-solid fa-folder"></i>
          Projetos
        </li>
        <li routerLink="library">
          <i class="fa-solid fa-palette"></i>
          Biblioteca
        </li>
        <li id="logout" (click)="logout()">
          <i class="fa-solid fa-arrow-right-from-bracket"></i>
          Log out
        </li>
      </ul>
    </div>
  </nav>

  <button class="menu-toggle" [class.active]="isMenuOpen" (click)="toggleMenu()">
    <mat-icon class="menu" [class.active]="isMenuOpen">menu</mat-icon>
    <mat-icon class="close" [class.active]="!isMenuOpen">close</mat-icon>
  </button>
</header>

<app-login *ngIf="currentComponent === 'login'" (closeLogin)="closePopup()" (goToRegister)="openRegister()"></app-login>
<app-register *ngIf="currentComponent === 'register'" (closeRegister)="closePopup()" (goToLogin)="openLogin()"></app-register>