<div class="container">
  <div class="container-nav">
    <app-nav-bar></app-nav-bar>
  </div>

  <div class="content">
    <div class="container-search">
      <div class="search-box">
        <button class="filtro">
          <i class="fa-solid fa-filter"></i>
        </button>

        <input class="search-input" placeholder="Pesquisar..." type="text">
        
        <button class="pesquisar">
          Pesquisar
          <i class="fa-solid fa-paper-plane"></i>
        </button>
      </div>
    </div>

    <div class="container-cards">
      <app-card-layouts *ngFor="let project of projects"
        [id]="project.id"
        [title]="project.title"
        [infos]="project.infos"
        [tag]="project.tag"
        [img]="project.img"
      ></app-card-layouts>
    </div>
  </div>
</div>