<section class="container-contacts" id="Contacts">
  <div class="content-all">
    <div class="box-form">
      <form #form="ngForm" (ngSubmit)="sendForm(form)">
        <label for="Name">Nome</label>    
        <input type="text" name="Name" id="Name" placeholder="Nome" required [(ngModel)]="firstname">

        <label for="LastName">Sobrenome</label>    
        <input type="text" name="LastName" id="LastName" placeholder="Sobrenome" required [(ngModel)]="lastname">

        <label for="Email">Email</label>    
        <input type="email" name="Email" id="Email" placeholder="Email" required [(ngModel)]="email">

        <label for="Message">Mensagem</label>    
        <textarea name="Massage" id="Message" rows="4" placeholder="Sua mensagem" required [(ngModel)]="message"></textarea>

        <button type="submit">Enviar</button>
      </form>

      <p id="textInfoErro" [class.invalid]="erroInForm">Preencha os campos para enviar.</p>
      <p id="textInfoSuccess" [class.valid]="successInForm">Enviado com successo.</p>
    </div>

    <div class="box-img">
      <img class="circle-01" src="../../../../assets/images/decorations/ball-fade-02.png">
      <img class="contacts-img" src="../../../../assets/images/ContactsPage/homem no celular.png" alt="Imagem de um homem no celular, para representar: 'entre em contato'">
      <img class="circle-02" src="../../../../assets/images/decorations/ball-fade-02.png">
      <img class="background-balls" src="../../../../assets/images/decorations/BallsGray-Background.png">
    </div>

    <div class="box-text">
      <div class="text">
        <h1>Fale com a gente!</h1>
        <p>Estamos prontos para tirar suas dúvidas, ouvir suas ideias e ajudar você a alavancar seu negócio no digital.</p>
        <address>
          E-mail: <a href="mailto:contato@upcommerce.com.br">contato&#64;upcommerce.com.br</a>
        </address>
        <p>Ou entre em contato diretamente pelas nossas redes sociais!</p>
      </div>

      <div class="social">
        <h1>Siga-Nos</h1>

        <ul>
          <li><a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i></a></li>
          <li><a href="https://x.com/" target="_blank"><i class="fab fa-twitter"></i></a></li>
          <li><a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i></a></li>
          <li><a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a></li>
        </ul>
      </div>
    </div>
  </div>
</section>