<section>
  <div class="content-all" *ngIf="suportPopUpVisible" @fadeInOut (@fadeInOut.done)="onAnimationDone($event)">
    <div class="close" (click)="toggleComponent('suport')">
      <mat-icon>arrow_back</mat-icon>
    </div>

    <div class="title">
      <h1>Solicitar auxílio do suporte para desenvolver um plano para meu négocio</h1>
    </div>

    <div class="content-form">
      <form #form="ngForm" (ngSubmit)="sendForm(form)">
        <div class="box-forms">
          <div class="form-left">
            <div class="infos-user">
              <img class="photoUser" src="../../../assets/images/PlansPage/PhotoUser.png" alt="Imagem foto de perfil usuário">
              <div class="infos">
                <p class="name">{{username}}</p>
                <p class="email">{{email}}</p>
              </div>
            </div>

            <label for="nameBusiness">Nome da Empresa <span class="required">*</span></label>
            <input type="text" id="nameBusiness" name="nameBusiness" required [(ngModel)]="nameBusiness">

            <label for="subject">Assunto <span class="required">*</span></label>
            <select id="subject" name="subject" required [(ngModel)]="subject">
              <option value="">Selecione</option>
              <option value="Assinaturas e Planos">Assinaturas e Planos</option>
              <option value="Pagamentos e Cobranças">Pagamentos e Cobranças</option>
              <option value="Problemas Técnicos">Problemas Técnicos</option>
              <option value="Dúvidas sobre o Serviço">Dúvidas sobre o Serviço</option>
              <option value="Cancelamentos e Reembolsos">Cancelamentos e Reembolsos</option>
              <option value="Sugestões e Melhorias">Sugestões e Melhorias</option>
              <option value="Outros">Outros</option>
            </select>

            <label for="observations">Observações</label>
            <textarea id="observations" name="observations" [(ngModel)]="observations"></textarea>
          </div>

          <div class="form-right">
            <label for="businessArea">Área de Atuação da Empresa <span class="required">*</span></label>
            <select id="businessArea" name="businessArea" required [(ngModel)]="businessArea">
              <option value="">Selecione</option>
              <option value="Alimentícia">Alimentícia</option>
              <option value="Tecnologia">Tecnologia</option>
              <option value="Educação">Educação</option>
              <option value="Saúde">Saúde</option>
              <option value="Varejo">Varejo</option>
              <option value="Financeira">Financeira</option>
              <option value="Logística">Logística</option>
              <option value="Construção Civil">Construção Civil</option>
              <option value="Agronegócio">Agronegócio</option>
              <option value="Turismo e Hotelaria">Turismo e Hotelaria</option>
              <option value="Marketing e Publicidade">Marketing e Publicidade</option>
              <option value="Moda e Vestuário">Moda e Vestuário</option>
              <option value="Automotiva">Automotiva</option>
              <option value="Imobiliária">Imobiliária</option>
              <option value="Energia e Meio Ambiente">Energia e Meio Ambiente</option>
              <option value="Consultoria">Consultoria</option>
              <option value="Entretenimento">Entretenimento</option>
              <option value="Segurança">Segurança</option>
              <option value="Esportes e Lazer">Esportes e Lazer</option>
              <option value="Outros">Outros</option>
            </select>

            <label>Naturezas jurídicas da Empresa <span class="required">*</span></label>
            <div class="radio legalNature-box">
              <div class="box-options" *ngFor="let nature of legalNatures">
                <input type="radio" name="legalNature" [id]="nature" [value]="nature" required [(ngModel)]="legalNature">
                <label class="labelOption" [for]="nature">{{ nature }}</label>
              </div>
            </div>

            <label>Preferência por Relatórios Mensais <span class="required">*</span></label>
            <div class="radio monthlyReports-box">
              <div class="box-options" *ngFor="let option of monthlyReportsOptions">
                <input type="radio" name="monthlyReports" [id]="option" [value]="option" required [(ngModel)]="monthlyReports">
                <label class="labelOption" [for]="option">{{ option }}</label>
              </div>
            </div>

            <label for="annualBilling">Faturamento Anual da Empresa <span class="required">*</span></label>
            <select id="annualBilling" name="annualBilling" required [(ngModel)]="annualBilling">
              <option value="">Selecione</option>
              <option value="Até R$ 81.000,00">Até R$ 81.000,00</option>
              <option value="De R$ 81.000,01 até R$ 360.000,00">De R$ 81.000,01 até R$ 360.000,00</option>
              <option value="De R$ 360.000,01 até R$ 4.800.000,00">De R$ 360.000,01 até R$ 4.800.000,00</option>
              <option value="De R$ 4.800.000,01 até R$ 10.000.000,00">De R$ 4.800.000,01 até R$ 10.000.000,00</option>
              <option value="Acima de R$ 10.000.000,00">Acima de R$ 10.000.000,00</option>
            </select>

            <label for="qtyProducts">Quantidade de produtos da Empresa <span class="required">*</span></label>
            <select id="qtyProducts" name="qtyProducts" required [(ngModel)]="qtyProducts">
              <option value="">Selecione</option>
              <option value="Até 200 produtos">Até 200 produtos</option>
              <option value="De 201 a 500 produtos">De 201 a 500 produtos</option>
              <option value="De 501 a 1.000 produtos">De 501 a 1.000 produtos</option>
              <option value="De 1.001 a 5.000 produtos">De 1.001 a 5.000 produtos</option>
              <option value="Mais de 5.000 produtos">Mais de 5.000 produtos</option>
            </select>

            <label for="preferLayout">Preferência por desenvolvimento do Layout <span class="required">*</span></label>
            <select id="preferLayout" name="preferLayout" required [(ngModel)]="preferLayout">
              <option value="">Selecione</option>
              <option value="Solicitar o desenvolvimento do layout aos designers">Solicitar o desenvolvimento do layout aos designers</option>
              <option value="Desenvolver meu próprio layout">Desenvolver meu próprio layout</option>
              <option value="Utilizar um template da biblioteca">Utilizar um template da biblioteca</option>
              <option value="Ainda não sei">Ainda não sei</option>
            </select>
          </div>
        </div>

        <div class="footer">
          <p>Após o envio da sua solicitação, nossa equipe responderá dentro de 24 a 48 horas.</p>
          <button type="submit" >Enviar</button>
        </div>

        <p id="textInfoErro" [class.invalid]="erroInForm">Preencha todos os campos com ' * ' para enviar.</p>
      </form>
    </div>
  </div>
</section>

<app-plan-confirmation *ngIf="confirmationPopUpVisible" (closePlan)="toggleComponent('confirmation')" [username]="username" [email]="email" [action]="'Solicitação'" (@fadeInOut.done)="onAnimationDone($event)"></app-plan-confirmation>