<div class="card">
    <div class="dados">
        <h1>Titulo</h1>
        <h6>infos</h6>
    </div>

    <div class="tag"></div>

    <div class="imagens">
        <img src="" alt="">
    </div>

    <div class="icones">
        <div class="usar"><mat-icon>login</mat-icon></div>
        
        <div class="favoritar"><mat-icon>favorite</mat-icon></div>

        <div class="login"><mat-icon>person</mat-icon></div>
    </div>

    <p>© 2025 - Direitos do designer reservados. Layout exclusivo para uso no site UpCommerce.</p>

</div>
