<div class="card">
  <div class="dados">
    <h1>{{title}}</h1>
    <p>{{infos}}</p>
  </div>

  <div class="tag" [class]="tag.text">
    <div class="info-tag">
      <mat-icon>{{ tag.icon }}</mat-icon>
      <p>{{tag.text}}</p>
    </div>
  </div>

  <div class="imagens">
    <div class="seta-esquerda"><mat-icon>keyboard_arrow_left</mat-icon></div>
    <img [src]="img.url1" alt="" />
    <img [src]="img.url2" alt="" />
    <img [src]="img.url3" alt="" />
    <div class="seta-direita"><mat-icon>keyboard_arrow_right</mat-icon></div>
  </div>

  <div class="icones">
    <div class="usar">
      <i class="fa-solid fa-arrow-up-right-from-square"></i>
    </div>
    <div class="favoritar">
      <i class="fa-solid fa-heart"></i>
    </div>
    <div class="login">
      <i class="fa-solid fa-circle-user"></i>
    </div>
  </div>

  <p>© 2025 - Direitos do designer reservados. Layout exclusivo para uso no site UpCommerce.</p>
</div>
