<section>
  <div class="content-all">
    <div class="logo">
      <img routerLink="/" src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="Imagem logo UpCommerce">
    </div>

    <nav class="menu">
      <ul>
        <li>
          <i class="fa-solid fa-folder"></i>
          <p>Projetos</p>
        </li>
        <li>
          <i class="fa-solid fa-th-large"></i> 
          <p>Modulos</p>
        </li>
        <li>
          <i class="fa-solid fa-database"></i> 
          <p>Backend</p>
        </li>
        <li>
          <i class="fa-solid fa-desktop"></i>   
          <p>Web</p>
        </li>
        <li id="active">
          <i class="fa-solid fa-mobile-screen-button"></i> 
          <p>Mobile</p>
        </li>
        <li>
          <i class="fa-solid fa-cloud-arrow-up"></i>  
          <p>CI/CD</p>
        </li>
      </ul>
    </nav>
  </div>
</section>