<section class="about-container" id="About">
  <div class="content-all">
    <div class="content-img">
      <img class="circle-01" src="../../../../assets/images/decorations/ball-fade-01.png">
      <img class="img-woman" src="../../../../assets/images/AboutPage/mulher sentada na cadeira.png" alt="Mulher sentada na cadeira mexendo no notbook">
      <img class="circle-02" src="../../../../assets/images/decorations/ball-fade-03.png">
    </div>

    <div class="content-text">
      <h1>Quem Somos?</h1>
      
      <p class="main-text">Na UpCommerce, somos apaixonados por transformar ideias em soluções digitais. Com anos de experiência no mercado, nossa missão é ajudar empresas a conquistarem espaço no mundo online com tecnologia de ponta, design moderno e estratégias eficazes.</p>
      
      <ul>
        <li>Equipe especializada em desenvolvimento web.</li>
        <li>Atendimento personalizado.</li>
        <li>Soluções sob medida para o seu negócio.</li>
        <li>Comprometimento com o resultado do cliente.</li>
      </ul>

      <p class="footer-text">Juntos, damos um <span>UP</span> no futuro da sua empresa.</p>
    </div>

    <div class="decorations">
      <img class="circle-03" src="../../../../assets/images/decorations/ball-fade-02.png">
      <img class="circle-04" src="../../../../assets/images/decorations/ball-fade-03.png">
    </div>
  </div>
</section>