<nav>
  <div class="logo" routerLink="/">
    <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="logo">
    <h1>UpCommerce</h1>
  </div>

  <div class="menu">
    <h1>Menu</h1>

    <ul>
      <li>
        <button routerLink="/">
          <i class="fa-solid fa-house"></i>
          Início
        </button>
      </li>
      <li>
        <button>
          <i class="fa-solid fa-shapes"></i>
          Categorias
        </button>
      </li>
      <li>
        <button >
          <i class="fa-solid fa-folder"></i>
          Biblioteca
        </button>
      </li>
      <li>
        <button>
          <mat-icon>workspace_premium</mat-icon>
          Premium
        </button>
      </li>
      <li>
        <button>
          <mat-icon>monetization_on</mat-icon>
          Free
        </button>
      </li>
      <li>
        <button>
          <i class="fa-solid fa-heart"></i>
          Favoritos
        </button>
      </li>
    </ul>
    
    <hr>

    <ul>
      <li>
        <button routerLink="/workshop">
          <i class="fa-solid fa-pen-to-square"></i>
          Criar
        </button>
      </li>
      <li>
        <button>
          <mat-icon>table</mat-icon>
          Solicitar layouts
        </button>
      </li>
      <li>
        <button>
          <i class="fa-solid fa-pen-nib"></i>
          Web Designers
        </button>
      </li>
    </ul>

    <hr>

    <div class="user">
      <img routerLink="/profile" [src]="urlPhoto" alt="Foto de perfil do usuário.">

      <div class="info">
        <h2>{{username}}</h2>
        <p>{{email}}</p>
      </div>
    </div>
  </div>
</nav>
