
<nav>
    <div class="logo">
    <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="logo">
    <h1>Up Commerce</h1>
    </div>

    <div class="menu">
        <p>Menu</p>
        <ul>
            <li><mat-icon>home</mat-icon> Início</li>
            <li><mat-icon>category</mat-icon> Categorias</li>
            <li><mat-icon>library_books</mat-icon> Biblioteca</li>
            <li><mat-icon>workspace_premium</mat-icon> Premium</li>
            <li><mat-icon>monetization_on</mat-icon> Free</li>
            <li><mat-icon>favorite</mat-icon> Favoritos</li>
          </ul>
          <ul>
            <li><mat-icon>add_circle</mat-icon> Criar</li>
            <li><mat-icon>send</mat-icon> Solicitar layouts</li>
            <li><mat-icon>groups</mat-icon> Web Designers</li>
          </ul>
    </div>
</nav>
