nav .logo {
  width: 370px;
  height: 135px;
  display: flex;
  border-radius: 0 50px 50px 0;
  align-items: center ;
  justify-content: center;
  gap: 10px;
  background: var(--primary-FFFFFF);
  box-shadow: 0 5px 5px var(--primary-ALPHA-000000-02);
  position: absolute;
  cursor: pointer;
  transition: .3s;

  img {
    width: 65px;
    height: 65px;
  }

  h1 {
    font: var(--font-BOLD-H2-28);
    background: var(--gradient-Light-LeftToRight);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

nav .logo:hover {
  width: 420px;
}

nav .menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 370px;
  height: 90vh;
  background: var(--gradient-ExtraLight-BottomToTop);
  color: var(--primary-FFFFFF);
  border-radius: 0 50px 50px 0;
  padding: 150px 20px 40px 0;

  h1 {
    font: var(--font-REGULAR-P-13);
    color: var(--primary-FFFFFF);
    margin-left: 20px;
  }
}

nav .menu ul {
  display: flex;
  flex-direction: column;
  align-items: first baseline;
  justify-content:center;
  width: 100%;
  gap: 5px;
}

nav .menu ul li {
  width: 100%;
  transition: .3s;

  button {
    margin-left: 10px;
    padding: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    width: 100%;
    border: none;
    background: transparent;
    cursor: pointer;
    color: var(--primary-FFFFFF);
    font: var(--font-BOLD-H4-16);
  }

  i,
  mat-icon {
    color: var(--primary-FFFFFF);
    font-size: 25px;
    width: 25px;
    height: 25px;
  }

}

nav .menu ul li:hover {
  background: var(--primary-00446D);
  border-radius: 0 75px 75px 0;
}

hr {
  margin: 10px 20px 10px 20px;
  border: none;
  height: 1px;
  border-radius: 50%;
  background: var(--primary-D9D9D9);
}

.user {
  display: flex;
  margin: 25px 0 0 20px;
  gap: 10px;
  
  img {
    width: 70px;
    height: 70px;
    border: 2px solid var(--primary-FFFFFF);
    border-radius: 50%;  
    cursor: pointer;
    transition: .3s;
  }

  img:hover {
    transform: scale(1.15);
    box-shadow: 0 5px 10px var(--primary-ALPHA-000000-02);
  }
}


.user .info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  
  h2 {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-FFFFFF);
    line-height: 10px;
  }

  p {
    font: var(--font-BOLD-P-13);
    color: var(--primary-E0E0E0);
  }
}
