
<nav>
    <div class="logo">
      <a href="#Home">
    <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="logo">
    <h1>Up Commerce</h1>
  </a>
    </div>

    <div class="menu">
        <p>Menu</p>
        <ul>
            <li><mat-icon>home</mat-icon> Início</li>
            <li><mat-icon>category</mat-icon> Categorias</li>
            <li><mat-icon>library_books</mat-icon> Biblioteca</li>
            <li><mat-icon>workspace_premium</mat-icon> Premium</li>
            <li><mat-icon>monetization_on</mat-icon> Free</li>
            <li><mat-icon>favorite</mat-icon> Favoritos</li>
          </ul>
          <hr>
          <ul>
            <li><mat-icon>add_circle</mat-icon> Criar</li>
            <li><mat-icon>send</mat-icon> Solicitar layouts</li>
            <li><mat-icon>groups</mat-icon> Web Designers</li>
          </ul>
          <hr>

          <div class="username">
            <div class="img-user">
              <img src="https://pt.quizur.com/_image?href=https%3A%2F%2Fimg.quizur.com%2Ff%2Fimg6300f25c178f07.26094452.png%3FlastEdited%3D1661006458%3Fo%3Dfeed&w=250&h=300&f=webp" alt="">
            </div>
            <div class="dados">
              <h5>Username</h5>
              <p>example@gmail.com</p>
            </div>
          </div>
    </div>
</nav>
