section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1000;
  background: var(--primary-ALPHA-002442-04);
}

.content-all {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background: var(--primary-FFFFFF);
  padding: 30px;
  border-radius: 20px;
  width: 420px;
  height: 560px;
  box-shadow: 0 3px 30px var(--primary-ALPHA-000000-00);

}

.content-all .logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

.content-all .logo img {
  width: 80px;
  height: 80px;
}

.content-all .logo h1 {
  font: var(--font-BOLD-H2-28);
  background: var(--gradient-Light-LeftToRight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.content-all .Inputs form {
  display: flex;
  flex-direction: column;
}

.content-all .Inputs form label {
  font: var(--font-REGULAR-H4-16);
  margin: 20px 0 5px 0;
}

.content-all .Inputs form input {
  font: var(--font-REGULAR-P-12);
  color: var(--primary-ALPHA-01335E-04);
  width: 300px;
  height: 50px;
  border: 1px solid var(--primary-ALPHA-01335E-04);
  border-radius: 10px;
  padding: 0 15px;
  transition: .3s;
}

.content-all .Inputs form input:hover {
  transform: scale(1.02);
}

.content-all .Inputs form a {
  font: var(--font-REGULAR-P-12);
  color: var(--primary-333333);
  margin-top: 5px;
  text-decoration: underline;
  transition: .2s;
}

.content-all .Inputs form a:hover {
  color: var(--primary-00AEFF);
}

.content-all .Inputs form button {
  height: 50px;
  width: 300px;
  border-radius: 10px;
  border: none;
  color: var(--primary-FFFFFF);
  background: var(--primary-333333);
  margin-top: 33px;
  cursor: pointer;
  transition: .3s;
}

.content-all .Inputs form button:hover {
  background: var(--primary-00AEFF);
  color: var(--primary-333333);
  box-shadow: 0 0px 5px var(--primary-006699);
  transform: scale(1.02);
}

.content-all .footer p {
  font: var(--font-REGULAR-P-12);
  color: var(--primary-333333);
}

.content-all .footer p a {
  font: var(--font-REGULAR-P-12);
  color: var(--primary-00AEFF);
  text-decoration: underline;
  transition: .2s;
  cursor: pointer;
}

.content-all .footer p a:hover {
  color: var(--primary-006699);
}

.content-all .close {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0px;
  right: 0px;
  background: var(--primary-333333);
  border-radius: 0 20px 0 20px;
  width: 45px;
  height: 45px;
  transition: .2s;
  cursor: pointer;
}

.content-all .close:hover {
  background: var(--primary-00AEFF);
  color: var(--primary-333333);
  box-shadow: 0 0px 5px var(--primary-006699);
  transform: scale(1.01);
}

.content-all .close mat-icon {
  color: var(--primary-FFFFFF);
}