<section>
  <div class="content-all" *ngIf="visible" @fadeInOut (@fadeInOut.done)="onAnimationDone($event)">
    <div (click)="closeLoginComponent()" class="close">
      <mat-icon>close</mat-icon>
    </div>

    <div class="logo">
      <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="Logo UpCommerce">
      <h1>UpCommerce</h1>
    </div>

    <div class="Inputs">
      <form action="" method="get">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="Email" placeholder="Email" required>
        
        <label for="Password">Senha</label>
        <input type="password" name="Password" id="Password" placeholder="Senha" required>

        <a href="">Esqueceu a senha?</a>

        <button type="submit">Entrar</button>
      </form>
    </div>

    <div class="footer">
      <p>Não possui conta? 
        <a (click)="goToRegister.emit()">Crie uma agora</a>
      </p>
    </div>
  </div>  
</section>