<section>
  <div class="content-all" *ngIf="visible" @fadeInOut (@fadeInOut.done)="onAnimationDone($event)">
    <div (click)="closeLoginComponent()" class="close">
      <mat-icon>close</mat-icon>
    </div>

    <div class="logo">
      <img src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="Logo UpCommerce">
      <h1>UpCommerce</h1>
    </div>

    <div class="Inputs">
      <form #form="ngForm" (ngSubmit)="sendForm(form)">
        <label for="Email">Email</label>
        <input type="email" name="Email" id="EmailLogin" placeholder="Email" autocomplete="email" required [(ngModel)]="email">
        
        <label for="Password">Senha</label>
        <input type="password" name="Password" placeholder="Senha" id="PasswordLogin" autocomplete="current-password" required [(ngModel)]="password">

        <a href="">Esqueceu a senha?</a>

        <button type="submit">Entrar</button>
      </form>

      <p id="textInfoErro" [class.invalid]="erroInForm">Preencha os campos para entrar.</p>
    </div>

    <div class="footer">
      <p>Não possui conta? 
        <a (click)="goToRegister.emit()">Crie uma agora</a>
      </p>
    </div>
  </div>  
</section>