.content-all {
  margin-bottom: 25px;
}

.content-all .main-prop  {
  width: 380px;
  height: 655px;
  background: var(--primary-FFFFFF);
  border-radius: 35px 0 0 35px;
  padding: 20px 10px;
}

.content-all .main-prop .content {
  height: 100%;
  position: relative;
  padding: 10px 20px;
}

.content-all .main-prop .content .properties-scroll {
  height: 460px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 7px 10px 0;
  margin-right: -22px;
}

.content-all .main-prop .content .nothingSelected {
  position: absolute;
  top: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
  height: 100%;

  i {
    font-size: 50px;
    color: var(--primary-000000b5);
  }

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-000000b5);
  }

  span {
    font: var(--font-REGULAR-P-13);
    color: var(--primary-000000b5);
    max-width: 70%;
  }
}

/* Save Btn CSS */
.btn-save {
  position: relative;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: var(--secondary-41B65A);
  color: var(--primary-FFFFFF);
  font: var(--font-BOLD-H4-16);
  cursor: pointer;
  transition: .3s;
  z-index: 2;

  .status-circle {
    /* display: none; */
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary-FFFFFF);
    border: 2px solid var(--secondary-41B65A);
    right: 0;
    top: 0;
  }

  .status-circle.changed {
    display: block;
  }
}

.btn-save:hover {
  transform: scale(0.97);
}

/* Infos Component CSS */
.info-component-box {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 0 0 20px 0;

  hr#line-info-component {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -7px;
    background: var(--primary-D9D9D9);
    border: none;
    border-radius: 20px;
  }
}

.info-component-box .infos {
  display: flex;
  align-items: center;
  gap: 5px;

  i {
    size: 15px;
    font-size: 15px;
    color: var(--primary-000000b5);
  }

  p {
    font: var(--font-BOLD-P-14);
    color: var(--primary-000000b5);
    line-height: 5px;
  }

  p#componentId {
    font: var(--font-REGULAR-P-12);
    color: var(--primary-000000b5);
  }
}

.info-component-box .actions {
  display: flex;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    padding: 5px;
    border-radius: 5px;

    i {
      size: 15px;
      font-size: 15px;
    }

    i#action-rename {
      color: var(--secondary-4E66D3);
    }
    i#action-info {
      color: var(--primary-000000b5);
    }
    i#action-remove {
      color: var(--secondary-AE2D2D);
    }
  }

  button:hover {
    background: var(--primary-ALPHA-000000-02);
  }
}

/* Properties CSS */
/* Main Title */
.box-prop-explorer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box-prop-explorer .btn-window {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-D9D9D9);
  padding: 10px 0;
  border: none;
  border-bottom: 3px solid var(--primary-D9D9D9);
  gap: 7px;
  margin: 25px 0 25px 0;
  cursor: pointer;
  z-index: 3;
  transition: .3s;

  i {
    size: 15px;
    font-size: 15px;
    color: var(--primary-000000b5);
  }

  h1 {
    font: var(--font-BOLD-P-14);
    color: var(--primary-000000b5);
    text-transform: uppercase;
  }
}

.box-prop-explorer .btn-window.active {
  border-bottom: 3px solid var(--primary-009AEC);
  i {
    color: var(--primary-009AEC);
  }

  h1 {
    color: var(--primary-009AEC);
  }
}

.box-prop-explorer .btn-window:hover {
  background: var(--primary-ALPHA-000000-02);
}

.box-prop-explorer .btn-window.btn-w-properties {
  border-radius: 15px 0 0 0;
}

.box-prop-explorer .btn-window.btn-w-explorer {
  border-radius: 0 15px 0 0;
}

/* Properties Component CSS */
.properties-box hr {
  border: none;
  height: 2px;
  background: var(--primary-D9D9D9);
  border-radius: 20px;
  margin: 20px 0;
}

.parting {
  width: 100%;
  background-color: var(--primary-D9D9D9);
  border-radius: 5px;
  padding: 8px 10px;

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-808080);
  }
}

.property input,
.property select {
  width: 100%;
  height: 30px;
  border: 1px solid var(--primary-808080);
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.property input#range-opacity {
  padding: 0;
  cursor: pointer;
}

.property input.colorInput {
  padding: 0 3px;
  cursor: pointer;
}

.sub-text-option {
  font: var(--font-REGULAR-P-13);
  color: var(--primary-000000b5);
  margin-top: 10px;
}

/* Visible Prop */
.visible-prop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title-prop {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  margin: 10px 0;

  p {
    font: var(--font-BOLD-P-14);
    color: var(--primary-000000b5);
  }

  i {
    color: var(--primary-000000b5);
    size: 12px;
    font-size: 12px;
    cursor: pointer;
  }
}

/* Explorer CSS */
.explorer-scroll {
  height: 400px;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 5px 10px 0;
  margin-right: -20px;

  li hr {
    border: none;
    height: 2px;
    background: var(--primary-D9D9D9);
    border-radius: 20px;
    margin: 5px 0;
  }

  li .componet-explorer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

.explorer-scroll .info {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 0 5px;
  border-radius: 10px;
  transition: .2s;

  i {
    size: 15px;
    font-size: 15px;
    color: var(--primary-000000b5);
  }

  p {
    font: var(--font-BOLD-P-13);
    color: var(--primary-000000b5);
  }
}

.explorer-scroll .info:hover {
  background: var(--primary-ALPHA-000000-02);
}

.explorer-scroll .actions {
  display: flex;
  align-items: center;
}

.explorer-scroll .actions button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  cursor: pointer;
  transition: .3s;
  padding: 5px;
  border-radius: 5px;

  i {
    size: 15px;
    font-size: 15px;
  }
}

.explorer-scroll .actions button:hover {
  background: var(--primary-ALPHA-000000-02);
}

.explorer-scroll .actions button i.action-mark  {
  color: var(--secondary-4E66D3);
}

.explorer-scroll .actions button i.action-info  {
  color: var(--primary-000000b5);
}

.explorer-scroll .actions button i.action-remove {
  color: var(--secondary-AE2D2D);
}

/* Delete Component Window Ask CSS */
.component-box-ask {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.component-box-ask .component-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 400px;
  padding: 40px 20px;
  border-radius: 20px;
  background: var(--primary-FFFFFF);
  box-shadow: 0 0 20px var(--primary-ALPHA-000000-03);

  h3 {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-000000b5);
  }

  p {
    font: var(--font-BOLD-P-13);
    color: var(--secondary-EB3030);
  }

  .component-text {
    margin: 10px 0 30px 0;
  }

  input {
    width: 100%;
    height: 30px;
    border: 1px solid var(--primary-808080);
    border-radius: 5px;
    padding: 0 10px;
    cursor: pointer;
    margin: 10px 0 20px 0;
  }
}

.component-box-ask .component-box .buttons {
  width: 100%;
  display: flex;
  justify-content: space-between;
  gap: 5px;

  button {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    transition: .3s;
    width: 150px;
  }

  button:hover {
    opacity: 0.8;
    transform: scale(0.96);
  }

  button.confirm-delete {
    background: var(--secondary-EB3030);
    color: var(--primary-FFFFFF);
  }
  
  button.confirm-rename {
    background: var(--secondary-2C8F41);
    color: var(--primary-FFFFFF);
  }

  button.cancel {
    background: var(--primary-D9D9D9);
    color: var(--primary-000000b5);
  }
}

/* Search Explorer CSS */
.search-box {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0 20px 0;

  i {
    position: absolute;
    color: var(--primary-666666);
    right: 15px;
  }
}

.search-box input.search-explorer {
  width: 100%;
  height: 40px;
  border: 1px solid var(--primary-808080);
  border-radius: 5px;
  padding: 0 10px;
}

.no-component {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top: 11px;

  i {
    font-size: 50px;
    color: var(--primary-000000b5);
    margin-bottom: 10px;
  }

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-000000b5);
  }
  
  p.text-help-tip {
    font: var(--font-REGULAR-P-13);
    margin-top: 10px;
  }
}