.content-all {
  margin-bottom: 25px;
}

.content-all .main-prop  {
  width: 380px;
  height: 655px;
  background: var(--primary-FFFFFF);
  border-radius: 35px 0 0 35px;
  padding: 20px 10px;
}

.content-all .main-prop .content {
  max-height: 100%;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 10px 20px;
}

/* Save Btn CSS */
.btn-save {
  position: relative;
  width: 100%;
  height: 45px;
  border-radius: 50px;
  border: none;
  background: var(--secondary-41B65A);
  color: var(--primary-FFFFFF);
  font: var(--font-BOLD-H4-16);
  cursor: pointer;
  transition: .3s;

  .status-circle {
    /* display: none; */
    position: absolute;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: var(--primary-FFFFFF);
    border: 2px solid var(--secondary-41B65A);
    right: 0;
    top: 0;
  }

  .status-circle.changed {
    display: block;
  }
}

.btn-save:hover {
  transform: scale(0.97);
}

/* Infos Component CSS */
.info-component-box {
  position: relative;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  margin: 20px 0;

  hr#line-info-component {
    position: absolute;
    width: 100%;
    height: 5px;
    bottom: -7px;
    background: var(--primary-D9D9D9);
    border: none;
    border-radius: 20px;
  }
}

.info-component-box .infos {
  display: flex;
  align-items: center;
  gap: 5px;

  i {
    size: 15px;
    font-size: 15px;
    color: var(--primary-000000b5);
  }

  p {
    font: var(--font-BOLD-P-14);
    color: var(--primary-000000b5);
  }
}

.info-component-box .actions {
  display: flex;

  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    background: transparent;
    cursor: pointer;
    transition: .3s;
    padding: 5px;
    border-radius: 5px;

    i {
      size: 15px;
      font-size: 15px;
    }

    i#action-mark {
      color: var(--secondary-4E66D3);
    }
    i#action-info {
      color: var(--primary-000000b5);
    }
    i#action-remove {
      color: var(--secondary-AE2D2D);
    }
  }

  button:hover {
    background: var(--primary-ALPHA-000000-02);
  }
}

/* Properties CSS */
/* Main Title */
.title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--primary-D9D9D9);
  border-radius: 15px 15px 0 0;
  padding: 8px 0;
  border-bottom: 3px solid var(--primary-009AEC);
  gap: 7px;
  margin: 35px 0 15px 0;
  cursor: pointer;

  i {
    size: 17px;
    font-size: 17px;
    color: var(--primary-009AEC);
  }

  h1 {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-009AEC);
    text-transform: uppercase;
  }
}

/* Properties Component CSS */
.properties-box hr {
  border: none;
  height: 2px;
  background: var(--primary-D9D9D9);
  border-radius: 20px;
  margin: 20px 0;
}

.parting {
  width: 100%;
  background-color: var(--primary-D9D9D9);
  border-radius: 5px;
  padding: 8px 10px;

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-808080);
  }
}

.property input,
.property select {
  width: 100%;
  height: 30px;
  border: 1px solid var(--primary-808080);
  border-radius: 5px;
  padding: 0 10px;
  cursor: pointer;
}

.property input#range-opacity {
  padding: 0;
  cursor: pointer;
}

.property input.colorInput {
  padding: 0 3px;
  cursor: pointer;
}

.sub-text-option {
  font: var(--font-REGULAR-P-13);
  color: var(--primary-000000b5);
  margin-top: 10px;
}

/* Visible Prop */
.visible-prop {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}

.title-prop {
  display: flex;
  width: 100%;
  gap: 5px;
  align-items: center;
  margin: 10px 0;

  p {
    font: var(--font-BOLD-P-14);
    color: var(--primary-000000b5);
  }

  i {
    color: var(--primary-000000b5);
    size: 12px;
    font-size: 12px;
    cursor: pointer;
  }
}

/* Size Prop */
