<!-- NavBar Header -->
<app-header></app-header>

<!-- Main Content HomePage -->
<main>
  <section class="middle-content">
    <div class="text-content">
      <h3>Crie seu Ecommerce <span>Aqui!</span></h3>
      <h1>Eleve seu négocio <br /> para um outro <br /> Nível.</h1>
      <hr />
      <p>
        Transforme sua visão em realidade com uma plataforma robusta, segura e
        personalizável. Venda online com facilidade e alcance novos clientes
        <br />
        todos os dias!
      </p>
    </div>

    <div class="img-content">
      <img
        class="image-background"
        src="../../../assets/images/HomePage/imagem celular.png"
        alt="Imagem background tematica ecommerce com gradiente azul claro para escuro."
      />
    </div>
  </section>
</main>

<!-- Decoration -->
<section class="decoration">
  <div class="top-circles">
    <img class="circle-01-top" src="../../../assets/images/HomePage/bolinha.png">
  </div>
  
  <div class="bottom-circles">
    <img class="circle-01-bottom" src="../../../assets/images/HomePage/bolinha (1).png">
    <img class="circle-02-bottom" src="../../../assets/images/HomePage/bolinha (2).png">
  </div>
</section>

<!-- Footer CopyRight -->
<app-footer></app-footer>
