<section>
  <div class="content-all">
    <div class="box-buttons">
      <button *ngFor="let item of btnsItems; let i = index"
      [class.active]="selectedIndex === i"
      (click)="selectItem(i)">
        <i class="{{ item.icon }}"></i>
        {{item.text}}
      </button>
    </div>

    <div class="box-input">
      <i class="fa-solid fa-magnifying-glass"></i>
      <input type="text" name="search" id="search" [(ngModel)]="searchTerm" placeholder="Pesquise por Telas ou Componentes...">
    </div>

    <!-- Componentes -->
    <div class="box-component" *ngIf="selectedIndex == 1" 
    cdkDropList
    #toolsComponentList="cdkDropList"
    [id]="'toolsComponentList'"
    [cdkDropListData]="filteredComponents"
    [cdkDropListConnectedTo]="connectedDropListId">
      <div cdkDrag [cdkDragData]="component" class="component" *ngFor="let component of filteredComponents; trackBy: trackByFn">
        <i [class]="component.icon"></i>
        <p>{{ component.text }}</p>
      </div>

      <div class="no-component" *ngIf="filteredComponents.length === 0">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <p>Nenhum componente encontrado</p>
        <p class="text-help-tip">Por favor, verifique a escrita e certifique-se de que está procurando no campo correto.</p>
      </div>
    </div>

    <!-- Telas -->
    <div class="box-screens" *ngIf="selectedIndex == 0"
    cdkDropList
    #toolsScreenList="cdkDropList"
    [id]="'toolsScreenList'"
    [cdkDropListData]="filteredScreens"
    [cdkDropListConnectedTo]="connectedDropListId">
      <div cdkDrag [cdkDragData]="screen" class="screen" *ngFor="let screen of filteredScreens; trackBy: trackByFn">
        <i [class]="screen.icon"></i>
        <p>{{ screen.text }}</p>  
      </div>

      <div class="no-component" *ngIf="filteredScreens.length === 0">
        <i class="fa-solid fa-triangle-exclamation"></i>
        <p>Nenhuma tela encontrada</p>
        <p class="text-help-tip">Por favor, verifique a escrita e certifique-se de que está procurando no campo correto.</p>
      </div>
    </div>
  </div>
</section>