<section>
  <div class="content-all">
    <div class="logo">
      <img routerLink="/" src="../../../assets/images/Logo/LogoUpCommerce-3.png" alt="Imagem logo UpCommerce">
    </div>

    <div class="box-header" [class.hidden]="hidden" *ngIf="!(currentMenu === 0 || currentMenu === 1)">
      <div class="box-input">
        <button class="btn-hidden-header" (click)="toggleHeaderHidden()">
          <i class="fa-solid {{icon}}"></i>
        </button>

        <input type="text" placeholder="Nome do projeto" title="Para definir um nome para o projeto acesse as configurações ao lado" [(ngModel)]="title" disabled>

        <button class="config" (click)="toggleMenuConfig()">
          <i class="fa-solid fa-gear"></i>
        </button>
      </div>

      <div class="box-btns">
        <button class="publish">
          <i class="fa-solid fa-cloud-arrow-up"></i>  
          Publicar
        </button>
        <button class="preview">
          <i class="fa-solid fa-eye"></i>
          Preview
        </button>
      </div>
    </div>
  </div>
</section>

<div class="menu-config" *ngIf="menuConfig">
  <div class="content-all">
    <div class="close" (click)="toggleMenuConfig()">
      <i class="fa-solid fa-xmark"></i>
    </div>

    <form>
      <label>Nome do Projeto:</label>
      <input type="text" placeholder="Nome do projeto" [(ngModel)]="title" name="title"/>

      <label>Slogan:</label>
      <input type="text" placeholder="Slogan do projeto" [(ngModel)]="subTitle" name="subTitle"/>

      <label>Descrição:</label>
      <textarea [(ngModel)]="description" name="description"></textarea>

      <label>Logo (URL):</label>
      <input type="text" placeholder="URL da logo do projeto" [(ngModel)]="urlLogo" name="urlLogo"/>

      <button (click)="sendForm()">Salvar</button>
    </form>
  </div>
</div>
