/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  /* Cores Primárias */
  --primary-002442: #00192d;
  --primary-122B41: #122B41;
  --primary-053B69: #053B69;
  --primary-135087: #135087;
  --primary-0E548F: #0E548F;
  --primary-006699: #006699;
  --primary-0A8FCC: #0A8FCC;
  --primary-156BA7: #156BA7;
  --primary-00AEFF: #00AEFF;
  --primary-808080: #808080;
  --primary-A6A6A6: #A6A6A6;
  --primary-D9D9D9: #D9D9D9;
  --primary-000000: #000000;
  --primary-333333: #333333;
  --primary-666666: #666666;
  --primary-E0E0E0: #E0E0E0;
  --primary-E9E9E9: #E9E9E9;
  --primary-818181: #818181;
  --primary-FFFFFF: #FFFFFF;

  /* Cores Primárias ALPHA */
  --primary-ALPHA-002442-04: rgba(0, 36, 66, 0.4);
  --primary-ALPHA-000000-06: rgba(0, 0, 0, 0.6);
  --primary-ALPHA-000000-02: rgba(0, 0, 0, 0.2);
  --primary-ALPHA-000000-00: rgba(0, 0, 0, 0.065);
  --primary-ALPHA-01335E-04: rgba(1, 51, 94, 0.4);
  --primary-ALPHA-001f3a-07: rgba(0, 31, 58, 0.702);

  /* Cores Secundárias */
  --secondary-9E1010: #9E1010;
  --secondary-C41D1D: #C41D1D;
  --secondary-EB3030: #EB3030;
  --secondary-2C8F41: #2C8F41;
  --secondary-41B65A: #41B65A;
  --secondary-5ADB76: #5ADB76;
  --secondary-9FC1D1: #9FC1D1;
  --secondary-C8E8F7: #C8E8F7;
  --secondary-CADAE5: #CADAE5;
  --secondary-EFEFEF: #EFEFEF;
  --secondary-EEEEEE: #EEEEEE;

  --secondary-7C87AA: #7C87AA;
  --secondary-01ABFA: #01ABFA;
  --secondary-D3F1FF: #D3F1FF;
  --secondary-DFECF6: #DFECF6;
  --secondary-F8F9FB: #F8F9FB;
  --secondary-E8EBF1: #E8EBF1;

  /* Gradientes */
  --gradient-Light-LeftToRight: linear-gradient(90deg,#01abfa 0%, #033967 100%);
  --gradient-Dark-LeftToRight: linear-gradient(90deg,#033d6b 0%, #00192d 100%);
  --gradient-Medium-BottomToTop: linear-gradient(180deg,#00305b 0%, #0a6fb7 100%);
  --gradient-Dark-TopToBottom: linear-gradient(180deg,#033d6b 0%, #00192d 100%);
  --gradient-Light-TopToBottom: linear-gradient(180deg,#42C3FF 0%, #156BA7 100%);

  /* Fonts Guides */
  /* BOLD */
  --font-BOLD-H1-38: bold 38px "Poppins", sans-serif;
  --font-BOLD-H2-28: bold 28px "Poppins", sans-serif;
  --font-BOLD-H3-21: bold 21px "Poppins", sans-serif;
  --font-BOLD-H4-16: bold 16px "Poppins", sans-serif;
  --font-BOLD-P-13:  600 13px "Poppins", sans-serif;
  --font-BOLD-P-12:  bold 12px "Poppins", sans-serif;
  --font-BOLD-P-10:  bold 10px "Poppins", sans-serif;
  --font-BOLD-P-8:   bold 8px "Poppins", sans-serif;
  
  /* REGULAR */
  --font-REGULAR-H1-38: normal 38px "Poppins", sans-serif;
  --font-REGULAR-H2-28: normal 28px "Poppins", sans-serif;
  --font-REGULAR-H3-21: normal 21px "Poppins", sans-serif;
  --font-REGULAR-H4-16: normal 16px "Poppins", sans-serif;
  --font-REGULAR-P-14:  normal 14px "Poppins", sans-serif;
  --font-REGULAR-P-12:  normal 12px "Poppins", sans-serif;
  --font-REGULAR-P-10:  normal 10px "Poppins", sans-serif;
  --font-REGULAR-P-8:   normal 8px "Poppins", sans-serif;
}
  
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
  scroll-behavior: smooth;
}

a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

html, body { height: 100%; }


span {
  background: var(--gradient-Light-LeftToRight);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p#textInfoErro {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  font: var(--font-BOLD-P-12);
  color: var(--secondary-EB3030);
  transition: .3s;
}

p#textInfoErro.invalid {
  opacity: 1;
}

p#textInfoSuccess {
  position: absolute;
  bottom: 10px;
  opacity: 0;
  font: var(--font-BOLD-P-12);
  color: var(--secondary-5ADB76);
  transition: .3s;
}

p#textInfoSuccess.valid {
  opacity: 1;
}