<section class="workshop" id="workshop">
  <app-nav-bar-workshop [projectChanged]="projectChanged" [selectedIndex]="currentStep" (stepChange)="onStepChangeRequest($event)"></app-nav-bar-workshop>

  <header>
    <app-header-workshop [getHeader]="projectHeader$ | async" [currentMenu]="currentStep"></app-header-workshop>
  </header>

  <main>
    <div class="project" *ngIf="currentStep === 0">
      <app-projects-workshop (openProject)="openProject($event)"></app-projects-workshop>
    </div>

    <div class="module" *ngIf="currentStep === 1">

    </div>

    <div class="backend" *ngIf="currentStep === 2"> 

    </div>

    <div class="web" *ngIf="currentStep === 3"> 
      <app-desktop-screen-workshop
        [projectId]="projectId"
        class="desktop"
        [connectedDropListId]="['toolsComponentList']"
        (areaCreated)="handleNewAreaId($event)"
        (elementDeselected)="propertiesWorkshop.deselectElement()">
      </app-desktop-screen-workshop>

      <app-properties-workshop 
        [projectId]="projectId"
        (projectStatus)="onProjectChange($event)"
        class="props"
        #propertiesWorkshop>
      </app-properties-workshop>
      
      <app-tools-workshop
        [projectId]="projectId"
        class="tools"
        [baseDropListIds]="['homeList', 'paymentList', 'perfilList', 'configList', 'notifyList', 'messageList', 'helpList', 'favList', 'cartList', 'historyList', 'reportsList', 'loginList']"
        [areaDropListIds]="areaIds"
        [typeCSS]="'desktop'">
      </app-tools-workshop>
    </div>

    <div class="mobile" *ngIf="currentStep === 4">
      <app-tools-workshop
        [projectId]="projectId"
        [baseDropListIds]="['homeList', 'paymentList', 'perfilList', 'configList', 'notifyList', 'messageList', 'helpList', 'favList', 'cartList', 'historyList', 'reportsList', 'loginList']"
        [areaDropListIds]="areaIds"
        [typeCSS]="'mobile'">
      </app-tools-workshop>

      <app-smartphone-screen-workshop
        [projectId]="projectId"
        [connectedDropListId]="['toolsComponentList']"
        (areaCreated)="handleNewAreaId($event)"
        (elementDeselected)="propertiesWorkshop.deselectElement()">
      </app-smartphone-screen-workshop>

      <app-properties-workshop 
        [projectId]="projectId"
        (projectStatus)="onProjectChange($event)"
        #propertiesWorkshop>
      </app-properties-workshop>
    </div>
 
    <div class="cicd" *ngIf="currentStep === 5">
     
    </div>
  </main>
</section>