<section class="workshop" id="workshop">
  <app-nav-bar-workshop (stepChange)="currentStep = $event"></app-nav-bar-workshop>

  <header>
    <app-header-workshop></app-header-workshop>
  </header>

  <main>
    <div class="project" *ngIf="currentStep === 0">

    </div>

    <div class="module" *ngIf="currentStep === 1">

    </div>

    <div class="backend" *ngIf="currentStep === 2"> 

    </div>

    <div class="web" *ngIf="currentStep === 3"> 

    </div>

    <div class="mobile" *ngIf="currentStep === 4">
      <app-tools-workshop [connectedDropListId]="'smartphoneList'"></app-tools-workshop>
      <app-smartphone-screen-workshop [connectedDropListId]="'toolsComponentList'" [connectedDropListId]="'toolsScreenList'"></app-smartphone-screen-workshop>
      <app-properties-workshop></app-properties-workshop>
    </div>
 
    <div class="cicd" *ngIf="currentStep === 5">
     
    </div>
  </main>
</section>