<section>
  <div class="content-all">
    <div class="notify-bar">
      <p class="time">9:48</p>

      <div class="middle-cam"></div>

      <div class="icons">
        <i class="fa-solid fa-signal"></i>
        <i class="fa-solid fa-wifi"></i>
        <i class="fa-solid fa-battery-full"></i>
      </div>
    </div>

    <!-- List for Drag and Drop -->
    <div cdkDropList class="drop-zone" (cdkDropListDropped)="onDrop($event)">
      <div class="dropped" *ngFor="let item of droppedItems">
        <i [class]="item.icon"></i>
        <p>{{ item.text }}</p>
      </div>
    </div>

    <div class="footer-bar"></div>
  </div>
</section>