<section>
  <div class="content-all">
    <div class="notify-bar">
      <p class="time">9:48</p>

      <div class="middle-cam"></div>

      <div class="icons">
        <i class="fa-solid fa-signal"></i>
        <i class="fa-solid fa-wifi"></i>
        <i class="fa-solid fa-battery-full"></i>
      </div>
    </div>

    <div class="drop-zone"
      cdkDropList
      #smartphoneList="cdkDropList"
      [id]="'smartphoneList'"
      [cdkDropListEnterPredicate]="canEnterSmartphone"
      [cdkDropListConnectedTo]="connectedDropListId"
      (cdkDropListDropped)="drop($event)">
      
      <ng-container #dropHost></ng-container>
    </div>


    <div class="footer-bar"></div>
  </div>
</section>