section {
  position: relative;
  margin-bottom: 25px;
}

.content-all {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 325px;
  height: 625PX;
  background: var(--primary-FFFFFF);
  border-radius: 35px;
  border: 5px solid var(--primary-000000);
  padding: 5px 8px;
}

.content-all .notify-bar {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 22px;

  p.time {
    font: var(--font-REGULAR-P-14);
  }

  .middle-cam {
    position: absolute;
    background: var(--primary-000000);
    width: 150px;
    height: 25px;
    border-radius: 0 0 20px 20px;
    top: 0px;
    right: 82px;
  }

  .icons {
    display: flex;
    gap: 5px;
  }
  
  .icons i {
    font-size: 12px;
    size: 12px;
  }
}

.content-all .footer-bar {
  width: 40%;
  background: var(--primary-000000);
  height: 4px;
  border-radius: 20px;
}

/* Drop zone CSS */
.drop-zone {
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.drop-zone[hidden] {
  display: none !important;
}

.drop-zone::-webkit-scrollbar {
  width: 0;  
  height: 0;
}

.drop-zone::-webkit-scrollbar-track,
.drop-zone::-webkit-scrollbar-thumb {
  background: transparent;
}

/* PopUp Current Screen CSS */
.current-screen {
  position: absolute;
  top: -70px;
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-FFFFFF);
    text-align: center;
  }
}

.current-screen .screen .box-btns {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
  gap: 8px;
  
  button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    background: var(--primary-00AEFF);
    transition: .3s;

    i {
      font-size: 18px;
      color: var(--primary-FFFFFF);
    }
  }
  
  button.selected {
    background: var(--primary-FFFFFF);
    transform: scale(1.15);

    i {
      color: var(--primary-00AEFF);
    }
  }
 
  button[hidden] {
    display: none !important;
  }

  button:hover {
    transform: scale(0.94);
    box-shadow: 0 0 5px var(--primary-00AEFF);
  }
}

/* Nothing in Project CSS */
.no-project-load {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  margin-top: 30px;
}

.content-all-no-project-load {
  background: var(--primary-FFFFFF);
  padding: 40px 25px;
  border-radius: 20px;
  
  i {
    font-size: 50px;
    color: var(--primary-000000b5);
    margin-bottom: 10px;
  }

  p {
    font: var(--font-BOLD-H4-16);
    color: var(--primary-000000b5);
  }
  
  p.text-help-tip {
    font: var(--font-REGULAR-P-13);
    margin-top: 10px;
  }
}