<section>
  <div class="current-screen">
    <div class="screen">
      <div class="box-btns">
        <button>
          <i class="fa-solid fa-home"></i>
        </button>
      </div>

      <p>Tela Inicial</p>
    </div>
  </div>
  
  <div class="content-all">

    <div class="notify-bar">
      <p class="time">{{currentTime}}</p>

      <div class="middle-cam"></div>

      <div class="icons">
        <i class="fa-solid fa-signal"></i>
        <i class="fa-solid fa-wifi"></i>
        <i class="fa-solid fa-battery-full"></i>
      </div>
    </div>

    <div class="drop-zone"
      cdkDropList
      #smartphoneList="cdkDropList"
      [id]="'smartphoneList'"
      [cdkDropListEnterPredicate]="canEnterSmartphone"
      [cdkDropListConnectedTo]="connectedDropListId"
      (cdkDropListDropped)="drop($event)"
      (click)="deselectElement($event)">
      
      <ng-container #dropHost></ng-container>
    </div>

    <div class="footer-bar"></div>
  </div>
</section>